<!-- navbar.html -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Ben Silva</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/pages/projects.html">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/pages/blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
     
      
        </ul>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <!-- Brand (your name) -->
      <a class="navbar-brand" href="/pages/index.html">Ben Silva</a>
      
      <!-- Navbar links -->
      <div class="navbar-nav">
        <div class="divider"></div>
        <a class="nav-link" href="/pages/blog.html">Cycling Blog</a>
        <a class="nav-link" href="/pages/projects.html">Projects</a>
        <a class="nav-link" href="/pages/contact.html">Contact</a>
      </div>
    </div>
  </nav>